<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Body</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
  <!-- it is not needed to say partial: @blogs if trying to just pring the blogs but because I added spacer_template it is needed to specify it is a partial -->
    <%= render partial: @blogs, spacer_template: 'blog_ruler' %>  

  <!-- another possible syntax; a more explicit option -->
  <!-- <%= render partial: 'blog', collection: @blogs, spacer_template: 'blog_ruler' %> --> 

  <!-- this is the original form 
    <%= render @blogs %> --> 
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path if logged_in?(:site_admin) %>
