<<<<<<< HEAD
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <%= image_tag @portfolio_item.main_image %>
    </div>

    <div class="col-md-4">
      <h1><%= @portfolio_item.title %></h1>

=======
<div class="container portfolio-container">
  <div class="row">
    <div class="col-md-7">
      <%= image_tag portfolio_img(@portfolio_item.main_image, 'main'), width: '100%' %>
    </div>

    <div class="col-md-5">
      <h1><%= @portfolio_item.title %></h1>

      <hr>

>>>>>>> d9ac59bad4e94b57160610617dfc83560657564d
      <em><%= @portfolio_item.subtitle %></em>

      <p><%= @portfolio_item.body %></p>

<<<<<<< HEAD
      <h2>Technologies Used:</h2>

      <% @portfolio_item.technologies.each do |t| %>

        <ul>
          <li><%= t.name %></li>
        </ul>

      <% end %>

    </div>
  </div>
</div>










<!-- <%= params.inspect %> -->



<!--<%= session.inspect %> -->

=======
      <hr>

      <h3>Technologies Used:</h3>

      <% @portfolio_item.technologies.each do |t| %>
      <p><%= t.name %></p>
      <% end %>

      <% if logged_in?(:site_admin) %>
        <div class="">
          <%= link_to "Edit Item", edit_portfolio_path(@portfolio_item), class: 'btn btn-warning' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
>>>>>>> d9ac59bad4e94b57160610617dfc83560657564d
