<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%=@seo_keywords %>"/>

    <!-- below bootstrap link allows for customization with bootstrap syles -->
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!-- this is an example of cache -->
  <% cache do %>
  <body>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= render "shared/nav", location: 'top' %>   

    <%= login_helper %>


    <%= yield %>    

     <%= source_helper("application") %>    

  <% end %>
    
  </body>
</html>
